<link rel="stylesheet" href="/css/form.css">
<style>
    .form {
        position: relative;
        z-index: 1;
        background: rgba(128, 128, 128, 0.1);
        max-width: 300px;
        margin: 0 auto 100px;
        padding: 30px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;

        opacity: 1;
        border:1px solid #c3c1c1;
    }
</style>

<div style="margin: 0 auto; width:550px; text-align:center; margin-top:100px;">
    <h3>Change Password</h3>
    <br/>
    <h5>
        Either this is your first time login or you have reset your password. <br/>
        Please change so that it will be more secure and easy for you to remember.
    </h5>

</div>


<div class="form" style="margin-top:50px;">

    <form id="login-form" class="login-form" method="post" action="/accounts/change-password">

        <input type="hidden" name="hidIsSuccess" value="{{isSuccess}}"/>

        <input style="border:1px solid #c3c1c1; background:#fff;" id="txtCurrentPassword" name="txtCurrentPassword" type="password" value="{{txtCurrentPassword}}" placeholder="Current Password"
        />
        <input style="border:1px solid #c3c1c1; background:#f2f2f2;" id="txtNewPassword" name="txtNewPassword" type="password" value="{{txtNewPassword}}" placeholder="New Password" />
        <input style="border:1px solid #c3c1c1; background:#f2f2f2;" id="txtNewPassword2" name="txtNewPassword2" type="password" value="{{txtNewPassword2}}" placeholder="Repeat New Password"
        />
        <button>Change Password</button>

    </form>

</div>

<script>
    $(document).ready(function () {
        $('#txtCurrentPassword').focus();
        hideBoxOnSuccess();
    });

    function hideBoxOnSuccess(){
        if ($('#hidIsSuccess').val() === "True"){
            $('#login-form').hide('slow');
        }
    }

    $.notify("{{returnMessage}}", { position: "top-right", className: "{{messageType}}" });
</script>